<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/css/css")
    @Styles.Render("~/Content/vender/css")

    @Scripts.Render("~/Content/js/js")
    @Scripts.Render("~/Content/vender/js")
    <link rel="icon" type="image/png" href="~/content/fav.png">
    <style>
        .uil-heart.has_liked {
            color: orangered;
        }

        uil-heart.has_not_liked {
            color: gray;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>
