<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/css/css")
    @Styles.Render("~/Content/vender/css")

    @Scripts.Render("~/Content/js/js")
    @Scripts.Render("~/Content/vender/js")

    <link href="~/Content/PagedList.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="~/content/fav.png">

    <style>
        .payBackground {
            background: none;
            position: relative;
            padding: 0;
        }

            .payBackground:before {
                margin: 0;
                content: "";
                background: url(/content/image/banner.svg) no-repeat;
                background-attachment: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                position: fixed;
                pointer-events: none;
                background-size: cover;
                opacity: 0.02;
            }

        .a-upload {
            padding: 4px 10px;
            line-height: 25px;
            position: relative;
            cursor: pointer;
            color: #888;
            background: #fafafa;
            border: none;
            border-radius: 4px;
            overflow: hidden;
            display: inline-block;
            *display: inline;
            *zoom: 1
        }

            .a-upload input {
                position: absolute;
                font-size: 100px;
                right: 0;
                top: 0;
                opacity: 0;
                filter: alpha(opacity=0);
                cursor: pointer
            }

            .a-upload:hover {
                color: #444;
                background: #eee;
                text-decoration: none
            }

            .a-upload:focus {
                border: none;
            }

            .a-upload:checked {
                border: none;
            }

        .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px;
        }

            .pagination > li {
                display: inline;
            }

                .pagination > li > a,
                .pagination > li > span {
                    color: black;
                    position: relative;
                    float: left;
                    padding: 6px 12px;
                    margin-left: -1px;
                    line-height: 1.428571429;
                    text-decoration: none;
                    background-color: #ffffff;
                    border: 1px solid #dddddd;
                }

                .pagination > li:first-child > a,
                .pagination > li:first-child > span {
                    margin-left: 0;
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                }

                .pagination > li:last-child > a,
                .pagination > li:last-child > span {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }

                .pagination > li > a:hover,
                .pagination > li > span:hover,
                .pagination > li > a:focus,
                .pagination > li > span:focus {
                    background-color: #eeeeee;
                }

            .pagination > .active > a,
            .pagination > .active > span,
            .pagination > .active > a:hover,
            .pagination > .active > span:hover,
            .pagination > .active > a:focus,
            .pagination > .active > span:focus {
                z-index: 2;
                color: #ffffff;
                cursor: default;
                background-color: #00C9FF;
                border-color: #00C9FF;
            }

            .pagination > .disabled > span,
            .pagination > .disabled > a,
            .pagination > .disabled > a:hover,
            .pagination > .disabled > a:focus {
                color: black;
                cursor: not-allowed;
                background-color: #ffffff;
                border-color: #dddddd;
            }

        .pagination-lg > li > a,
        .pagination-lg > li > span {
            padding: 10px 16px;
            font-size: 18px;
        }

        .pagination-lg > li:first-child > a,
        .pagination-lg > li:first-child > span {
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
        }

        .pagination-lg > li:last-child > a,
        .pagination-lg > li:last-child > span {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .pagination-sm > li > a,
        .pagination-sm > li > span {
            padding: 5px 10px;
            font-size: 12px;
        }

        .pagination-sm > li:first-child > a,
        .pagination-sm > li:first-child > span {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        .pagination-sm > li:last-child > a,
        .pagination-sm > li:last-child > span {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .pager {
            padding-left: 0;
            margin: 20px 0;
            text-align: center;
            list-style: none;
        }

            .pager:before,
            .pager:after {
                display: table;
                content: " ";
            }

            .pager:after {
                clear: both;
            }

            .pager:before,
            .pager:after {
                display: table;
                content: " ";
            }

            .pager:after {
                clear: both;
            }

            .pager li {
                display: inline;
            }

                .pager li > a,
                .pager li > span {
                    display: inline-block;
                    padding: 5px 14px;
                    background-color: #ffffff;
                    border: 1px solid #dddddd;
                    border-radius: 15px;
                }

                    .pager li > a:hover,
                    .pager li > a:focus {
                        text-decoration: none;
                        background-color: #eeeeee;
                    }

            .pager .next > a,
            .pager .next > span {
                float: right;
            }

            .pager .previous > a,
            .pager .previous > span {
                float: left;
            }

            .pager .disabled > a,
            .pager .disabled > a:hover,
            .pager .disabled > a:focus,
            .pager .disabled > span {
                color: #999999;
                cursor: not-allowed;
                background-color: #ffffff;
            }

        .option_links .icon_wishlist {
            background: rgba(176, 238, 255,0.2);
            color: #00C9FF;
            height: 35px;
            width: 35px;
            display: inline-block;
            padding: 8px 5px;
            border-radius: 100%;
        }

        .opts_account:hover {
            color: #00C9FF !important;
        }

        .ucp-table thead tr th {
            color: #2b2f4c;
            font-size: 16px;
            text-align: center;
            vertical-align: middle;
            font-weight: 500;
            background-color: rgba(176, 238, 255,0.3);
        }

        .ucp-table tbody tr td {
            font-size: 14px;
            text-align:center;
            vertical-align: middle;
            font-weight: 400;
            color: #3e3f5e;
        }

        .purchase-history-right a:hover {
            color: #00C9FF !important;
        }

        .form-control:focus {
            outline: none !important;
            box-shadow: none !important;
            border: 1px solid #00C9FF !important;
        }
            .form-control:focus + .lgn_icon {
                color: #00C9FF;
            }

        ul.code-alrt-inputs input:focus {
            box-shadow: none;
            border: 1px solid #00C9FF;
        }

        .ui.input > input:focus {
            border: 1px solid #00C9FF !important;
        }

        .scrollstyle_4::-webkit-scrollbar {
            width: 4px;
            background-color: #f1f1f1;
        }

        .scrollstyle_4::-webkit-scrollbar-thumb {
            background-color: #e5e5e5;
        }

        .scrollstyle_4::-webkit-scrollbar-track {
            background-color: #F5F5F5;
        }

        .dashboard-group {
            background: rgba(176, 238, 255,0.7);
            position: relative;
            padding: 50px 0;
        }

        .ui.dropdown .menu > .channel_item:hover {
            color: #2b2f4c !important;
            background: rgba(176, 238, 255,0.4) !important;
        }

        .user-item:hover {
            color: #2b2f4c;
            background: rgba(176, 238, 255,0.4);
        }

            .user-item:hover i {
                color: rgba(0, 163, 206, 0.9) !important;
            }

        .user-item.active {
            background: #92E8FF;
            color: #fff !important;
            transition: all .2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            background-image: -webkit-linear-gradient(left, rgba(0, 163, 206, 0.9), rgba(0, 201, 255, 0.9));
            background-image: linear-gradient(to right, rgba(0, 163, 206, 0.9), rgba(0, 201, 255, 0.9));
            pointer-events: none;
        }

        #sync1 .owl-nav .owl-next:hover {
            color: #fff !important;
            opacity: 1;
            border: 1px solid #00C9FF !important;
            background: #00C9FF !important;
            box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 7%);
        }

        .zoomImage11 {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }

        .zoomImage53 {
            width: 100%;
            height: 0;
            padding-bottom: 60%;
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }

            .zoomImage11:hover, .zoomImage53:hover {
                transition: all 0.6s;
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
    </style>

</head>
<!-- Header Start -->
<header class="header clearfix">
    <div class="top-header-group">
        <div class="top-header">
            <a href=@Url.Content("~/Home")>
                <div class="cart__btn hover-btn uil-home-alt" style="height:60px;padding:20px 30px">
                    <span>主页</span>
                </div>
            </a>
            <a href=@Url.Content("~/SellHome")>
                <div class="seller_btn seller_hover_btn uil-store" style="height:60px;padding:20px 30px;">
                    <span>我的店铺</span>
                </div>
            </a>
            <div class="header_right">
                <ul>
                    @if (Session["has_login"] == null)
                    {
                        @Html.ActionLink("登入", "Index", "Login", new { }, new { @style = "color:#00C9FF;margin:0 5px;" })
                        @Html.ActionLink("注册", "Index", "SignUp", new { }, new { @style = "color:#00C9FF;margin:0 5px;" })
                    }
                    @if (Session["has_login"] != null && Convert.ToInt32(Session["mem_type"]) == 2)
                    {
                        <li><a href="@Url.Content("~/SellInfo/Index")" class="option_links" title="我的收入"><i class='uil uil-wallet icon_wishlist'></i></a></li>
                        <li><a href="@Url.Content("~/SellInfo/SellList")" class="option_links" title="订单记录"><i class='uil uil-bill icon_wishlist'></i></a></li>
                        <li height="60px" class="ui dropdown " id="user_li">
                            <a href=@Url.Content("~/SellInfo")>
                                <div class="opts_account" style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    @{
                                        var str = (Convert.ToInt64(Session["mem_phone"]) % 6).ToString();
                                        str = "/content/image/avatar/img-" + str + ".jpg";
                                    }
                                    <img src=@str alt="头像">
                                    <span class="user__name" style="width:80px;overflow:hidden;text-overflow :ellipsis;white-space:nowrap;"> @Session["mem_name"].ToString()</span>
                                    <i class="uil uil-angle-down"></i>
                                </div>
                            </a>
                            <div class="menu dropdown_account user_div" id="user_btn">
                                <div class="item channel_item"><i class="uil uil-user-exclamation icon__1"></i>@Html.ActionLink("我的店铺信息", "Index", "SellInfo", new { }, new { @style = "color:black" })</div>
                                <div class="item channel_item"><i class="uil uil-money-bill icon__1"></i>@Html.ActionLink("订单列表", "SellList", "SellInfo", new { }, new { @style = "color:black" })</div>
                                <div class="item channel_item"><i class="uil uil-edit-alt icon__1"></i>@Html.ActionLink("修改信息", "Modify", "SellInfo", new { }, new { @style = "color:black" })</div>
                                <div class="item channel_item"><i class="uil uil-exit icon__1"></i>@Html.ActionLink("注销", "LoginOut", "Login", new { }, new { @style = "color:black" })</div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->
<body class="payBackground">
    <div class="wrapper" style="padding-top:60px;">
        @RenderBody()
    </div>

    <div class="copyright-text text-center mt-3">
        <i class="uil uil-copyright"></i>Copyright 2020 <b>MJX</b> . All rights <a href="" title="">researved</a>
    </div>


    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>
        $(function () {
            setTimeout(function () {
                $("#pwd_error_info,#phone_error_info").show();
                setTimeout(function () {
                    $("#pwd_error_info,#phone_error_info").hide();
                }, 2000);
            }, 0);
        });
    </script>
    <script>
        $(function () {
            $('#bar_01').owlCarousel(
                {
                    loop: true,
                    autoPlay: false,
                    navigation: true,
                    navigationText: ["上一个", "下一个"]
                });
            $('#bar_02').owlCarousel({

            });
            $('#bar_03').owlCarousel({

            });
        })
    </script>

    <script>
        $(function () {
            $(".add_cart").click(function () {
                $("#alert_message_cart").fadeIn("fast");
                setTimeout(function () { $("#alert_message_cart").fadeOut("slow"); }, 400)
            });

        });
        $(function () {
            $(".log_err").click(function () {
                $("#alert_message_log_err").fadeIn("fast");
                setTimeout(function () { $("#alert_message_log_err").fadeOut("slow"); }, 400)
            });
        });
        $(function () {
            $(".no_stock").click(function () {
                $("#alert_no_stock").fadeIn("fast");
                setTimeout(function () { $("#alert_no_stock").fadeOut("slow"); }, 400)
            });
        });
        $(function () {
            $(".add_wish").click(function () {
                $("#alert_message_wish").fadeIn("fast");
                setTimeout(function () { $("#alert_message_wish").fadeOut("slow"); }, 400)
            });

        });
        $(function () {
            setTimeout(function () {
                $("#alert_message_cart").hide();
            }, 0)
        });
        $(function () {
            setTimeout(function () {
                $("#alert_no_stock").hide();
            }, 0)
        });
        $(function () {
            setTimeout(function () {
                $("#alert_message_wish").hide();
            }, 0)
        });
        $(function () {
            setTimeout(function () {
                $("#alert_message_log_err").hide();
            }, 0)
        });

        $(function () {
            setTimeout(function () {
                $("#init_page").hide();
            }, 0)
        });

        $(document).ready(function () {

            $("#user_li").hover(function () {
                let user_li = document.getElementById('user_li');
                let user_btn = document.getElementById('user_btn');
                user_li.classList.add("active")
                user_li.classList.add("visible")
                user_btn.classList.add("left")
                user_btn.classList.add("transition")
                user_btn.classList.add("visible")
                user_btn.classList.add("hidden")
                user_btn.classList.remove("hidden")
                user_btn.style.display = "display: block !important"


            },
                function () {
                });
        });

        $(document).ready(function () {

            $(".top-header-group").hover(function () {
            },
                function () {

                    let user_li = document.getElementById('user_li');
                    let user_btn = document.getElementById('user_btn');
                    user_li.classList.add("active")
                    user_li.classList.add("visible")
                    user_btn.classList.add("left")
                    user_btn.classList.add("transition")
                    user_btn.classList.add("visible")
                    user_btn.classList.add("hidden")
                    user_btn.classList.remove("visible")
                    user_li.classList.remove("active")
                    user_li.classList.remove("visible")


                });
        });
        $(document).ready(function () {

            var sync1 = $("#sync1");
            var sync2 = $("#sync2");
            var slidesPerPage = 4; //globaly define number of elements per page
            var syncedSecondary = true;

            sync1.owlCarousel({
                items: 1,
                slideSpeed: 2000,
                nav: true,
                autoplay: false,
                dots: false,
                loop: true,
                responsiveRefreshRate: 200,
                navText: ["<i class='uil uil-angle-left'></i>", "<i class='uil uil-angle-right'></i>"],
            }).on('changed.owl.carousel', syncPosition);

            sync2
                .on('initialized.owl.carousel', function () {
                    sync2.find(".owl-item").eq(0).addClass("current");
                })
                .owlCarousel({
                    items: slidesPerPage,
                    dots: true,
                    smartSpeed: 200,
                    slideSpeed: 500,
                    slideBy: slidesPerPage, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
                    responsiveRefreshRate: 100,
                }).on('changed.owl.carousel', syncPosition2);

            function syncPosition(el) {
                //if you set loop to false, you have to restore this next line
                //var current = el.item.index;

                //if you disable loop you have to comment this block
                var count = el.item.count - 1;
                var current = Math.round(el.item.index - (el.item.count / 2) - .5);

                if (current < 0) {
                    current = count;
                }
                if (current > count) {
                    current = 0;
                }

                //end block

                sync2
                    .find(".owl-item")
                    .removeClass("current")
                    .eq(current)
                    .addClass("current");
                var onscreen = sync2.find('.owl-item.active').length - 1;
                var start = sync2.find('.owl-item.active').first().index();
                var end = sync2.find('.owl-item.active').last().index();

                if (current > end) {
                    sync2.data('owl.carousel').to(current, 100, true);
                }
                if (current < start) {
                    sync2.data('owl.carousel').to(current - onscreen, 100, true);
                }
            }

            function syncPosition2(el) {
                if (syncedSecondary) {
                    var number = el.item.index;
                    sync1.data('owl.carousel').to(number, 100, true);
                }
            }

            sync2.on("click", ".owl-item", function (e) {
                e.preventDefault();
                var number = $(this).index();
                sync1.data('owl.carousel').to(number, 300, true);
            });
        });
    </script>
</body>

</html>
