@using ShopWeb.Models
@model PurchaseHomeTotalInfo
@{
    ViewBag.Title = "云龙县特色农产品";
}

<div class="bs-canvas bs-canvas-right position-fixed bg-cart h-100">
    <div class="bs-canvas-header side-cart-header p-3 ">
        <div class="d-inline-block  main-cart-title">挑选商品</div>
        <button type="button" class="bs-canvas-close close" aria-label="Close"><i class="uil uil-multiply"></i></button>
    </div>
    <div class="bs-canvas-body filter-body">
        <div class="filter-items">
            <div class="filtr-cate-title">
                <h4>分类</h4>
            </div>
            <div class="filter-item-body scrollstyle_4">
                <div class="cart-radio">
                    <ul class="cte-select">
                        <li>
                            <input type="radio" id="tag0" name="tagList" onclick="update_tag('all')">
                            <label for="tag0">全部</label>
                        </li>
                        @for (var i = 1; i <= Model.goods_tags.Count; ++i)
                        {
                            <li>
                                @{
                                    var now_id = "tag" + i;
                                }
                                <input type="radio" id=@now_id name="tagList" onclick="update_tag('@Model.goods_tags[i-1].goods_tag')">
                                <label for=@now_id>@Model.goods_tags[i - 1].goods_tag</label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter-items">
            <div class="filtr-cate-title">
                <h4>价格</h4>
            </div>
            <div class="price-pack-item-body scrollstyle_4" style="height:170px;">
                <div class="cart-radio">
                    <ul class="cte-select">
                        <li>
                            <input type="radio" id="price0" name="priceList" onclick="update_price('all')">
                            <label for="price0">全部</label>
                        </li>
                        <li>
                            <input type="radio" id="price1" name="priceList" onclick="update_price('0_10')">
                            <label for="price1">￥0 —— ￥10</label>
                        </li>
                        <li>
                            <input type="radio" id="price2" name="priceList" onclick="update_price('11_20')">
                            <label for="price2">￥11 —— ￥20</label>
                        </li>
                        <li>
                            <input type="radio" id="price3" name="priceList" onclick="update_price('21_50')">
                            <label for="price3">￥21 —— ￥50</label>
                        </li>
                        <li>
                            <input type="radio" id="price4" name="priceList" onclick="update_price('51_100')">
                            <label for="price4">￥51 —— ￥100</label>
                        </li>
                        <li>
                            <input type="radio" id="price5" name="priceList" onclick="update_price('101_200')">
                            <label for="price5">￥101 —— ￥200</label>
                        </li>
                        <li>
                            <input type="radio" id="price6" name="priceList" onclick="update_price('201')">
                            <label for="price6">￥200 —— </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter-items">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <input type="hidden" id="search_tag" name="search_tag" value="all" />
                <input type="hidden" id="search_price" name="search_price" value="all" />
                <button type="submit" class="add-address hover-btn" style="border:none;font-size:15px;margin:0;">确认</button>
            }
        </div>
    </div>
</div>

<div class="main-banner-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel offers-banner owl-theme" id="bar_01">
                    @for (var i = 0; i < Model.rand_display_goods_list.Count; ++i)
                    {
                        <div class="item">
                            <div class="offer-item">
                                <div class="offer-item-img">
                                    <div class="gambo-overlay"></div>
                                    <div class="zoomImage53" style="background-image:url(@Model.rand_display_goods_list[i].goods_img_path);border-radius:5px;"></div>
                                </div>
                                <div class="offer-text-dt">
                                    <div class="offer-top-text-banner">
                                        <div class="top-text-1">@Model.rand_display_goods_list[i].goods_name</div>
                                    </div>
                                    @if (Model.rand_display_goods_list[i].sell_stock > 0)
                                    {
                                        <a href="@Url.Content("~/BuyGoods/?goods_id="+Model.rand_display_goods_list[i].goods_id.ToString())" class="Offer-shop-btn hover-btn">现在选购</a>
                                    }
                                    @if (Model.rand_display_goods_list[i].sell_stock <= 0)
                                    {
                                        <a href="@Url.Content("~/BuyGoods/?goods_id="+Model.rand_display_goods_list[i].goods_id.ToString())" class="Offer-shop-btn hover-btn disabled">已售罄</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offers End -->
<!-- Featured Products Start -->
<div class="section145">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title-tt product-top-dt">
                    <div class="main-title-left">
                        <span>全部商品：</span>
                        <h2>商品一览: &nbsp;@Model.select_tag  &nbsp;@Model.select_price_interval</h2>
                    </div>
                    <a class="re-filter-btn pull-bs-canvas-right" style="color:white;font-weight:bold;">挑选</a>
                </div>
            </div>
            <div class="col-md-12" id="home_part_1">
                @Html.Partial("HomePart1", Model)
            </div>
        </div>
    </div>
</div>

<!-- Featured Products End -->
<!-- Best Values Offers Start -->
<div class="section145">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title-tt">
                    <div class="main-title-left">
                        <span>特别推荐，买得越多，推荐越准</span>
                        <h2>猜你喜欢</h2>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.ai_display_goods_list.Count/2; ++i)
            {
                <div class="col-lg-4 col-md-4 col-sm-6">

                    <a href="@Url.Content("~/BuyGoods/?goods_id=" + Model.ai_display_goods_list[i].goods_id.ToString())" class="best-offer-item">
                        <div class="zoomImage53" style="background-image:url(@Model.ai_display_goods_list[i].goods_img_path);border-radius:5px;border:2px solid #FAAA8E;">
                            <div class="offer-top-text-banner">
                                <div class="top-text-1">@Model.ai_display_goods_list[i].goods_name</div>
                            </div>
                        </div>
                    </a>

                </div>
            }
            @for (int i = Model.ai_display_goods_list.Count / 2; i < Model.ai_display_goods_list.Count; ++i)
            {
                <div class="col-lg-4 col-md-4 col-sm-6">

                    <a href="@Url.Content("~/BuyGoods/?goods_id=" + Model.ai_display_goods_list[i].goods_id.ToString())" class="best-offer-item">
                        <div class="zoomImage53" style="background-image:url(@Model.ai_display_goods_list[i].goods_img_path);border-radius:5px;border:2px solid #FAAA8E;">
                            <div class="offer-top-text-banner">
                                <div class="top-text-1">@Model.ai_display_goods_list[i].goods_name</div>
                            </div>
                        </div>
                    </a>

                </div>
            }
        </div>
    </div>
</div>

<script>
    function update_tag(now) {
        $("#search_tag").val(now);
    }

    function update_price(now) {
        $("#search_price").val(now);
    }

    window.onload = function () {
        $("#tag0").click();
        $("#price0").click();
        $("#search_tag").val('all');
        $("#search_price").val('all');
    }
</script>