@using PagedList.Mvc;
@using ShopWeb.Models
@model PurchaseHomeTotalInfo
@{
    ViewBag.Title = "云龙县特色农产品";
}


<div class="main-banner-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel offers-banner owl-theme" id="bar_01">
                    @for (var i = 0; i < Model.total_goods_list.Count; ++i)
                    {
                        <div class="item">
                            <div class="offer-item">
                                <div class="offer-item-img">
                                    <div class="gambo-overlay"></div>
                                    <div class="zoomImage53" style="background-image:url(@Model.total_goods_list[i].goods_img_path)"></div>
                                </div>
                                <div class="offer-text-dt">
                                    <div class="offer-top-text-banner">
                                        <div class="top-text-1">@Model.total_goods_list[i].goods_name</div>
                                    </div>
                                    @if (Model.total_goods_list[i].sell_stock > 0)
                                    {
                                        <a href="@Url.Content("~/BuyGoods/?goods_id="+Model.total_goods_list[i].goods_id.ToString())" class="Offer-shop-btn hover-btn">现在选购</a>
                                    }
                                    @if (Model.total_goods_list[i].sell_stock <= 0)
                                    {
                                        <a href="@Url.Content("~/BuyGoods/?goods_id="+Model.total_goods_list[i].goods_id.ToString())" class="Offer-shop-btn hover-btn disabled">已售罄</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offers End -->
<!-- Featured Products Start -->
<div class="section145">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title-tt">
                    <div class="main-title-left">
                        <span>为你挑选 </span>
                        <h2>全部商品:</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                @for (var i = 0; i < (Model.page_goods_list.Count / 4) + 1; ++i)
                {
                    <div class="col-md-12 col-lg-12">

                        @for (var j = i * 4; j < (i + 1) * 4 && j < Model.page_goods_list.Count; ++j)
                        {
                            <div class="item col-md-5 col-sm-5 col-lg-3" style="margin-bottom:20px;">
                                <div class="product-item" style="padding-top:5px;">
                                    <div class="product-absolute-options" style="margin-bottom:5px;padding-left:325px;padding-top:10px;">
                                    </div>

                                    <a href="@Url.Content("~/BuyGoods/?goods_id=" + Model.page_goods_list[j].goods_id.ToString())" class="product-img">
                                        <div class="zoomImage11" style="background-image:url(@Model.page_goods_list[j].goods_img_path)"></div>
                                    </a>
                                    <div class="product-text-dt">
                                        <h4>@Model.page_goods_list[j].goods_name</h4>
                                        <div class="product-price">￥@Model.page_goods_list[j].unit_price</div>
                                        <div style="margin:10px 0;">
                                            <div style="font-weight:bold;font-size:13px;padding-right:30px;display:inline-block;">
                                                <span style="color:#f55d2c">销量:</span>
                                                <span style="color:#f55d2c">@Model.page_goods_list[j].sell_volume</span>
                                            </div>
                                            <div style="font-weight:bold;font-size:13px;padding-left:30px;display:inline-block;">
                                                <span style="color:#00C9FF">库存:</span>
                                                <span style="color:#00C9FF">@Model.page_goods_list[j].sell_stock</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                <div class="col-md-12 col-lg-12 text-center">
                    @Html.PagedListPager(Model.page_goods_list, page => Url.Action("Index", "Home", new { page }), new PagedListRenderOptions()
    {
    LinkToFirstPageFormat = "首页",
    LinkToPreviousPageFormat = "上一页",
    LinkToNextPageFormat = "下一页",
    LinkToLastPageFormat = "末页",
    DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
    DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    MaximumPageNumbersToDisplay = 4
    })
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured Products End -->
<!-- Best Values Offers Start -->
<div class="section145">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title-tt">
                    <div class="main-title-left">
                        <span>特别推荐</span>
                        <h2>正在热销</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="@Url.Content("~/BuyGoods/?goods_id="+Model.total_goods_list[0].goods_id.ToString())" class="best-offer-item">
                    <img src="~/content/image/HomePage/leftImg.png" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="@Url.Content("~/BuyGoods/?goods_id="+Model.total_goods_list[0].goods_id.ToString())" class="best-offer-item">
                    <img src="~/content/image/HomePage/midImg.png" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="@Url.Content("~/BuyGoods/?goods_id="+Model.total_goods_list[0].goods_id.ToString())" class="best-offer-item offr-none">
                    <img src="~/content/image/HomePage/rightImg.png" alt="">
                </a>
            </div>
            <div class="col-md-12">
                <a href="#" class="code-offer-item">
                    <img src="~/content/image/HomePage/maxlenImg.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Best Values Offers End -->
<!-- Featured Products Start -->
@*
    <div class="section145">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title-tt">
                        <div class="main-title-left">
                            <span>为你挑选 </span>
                            <h2>精选产品</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="owl-carousel featured-slider owl-theme" id="bar_03">
                        @for (
                            var i = Model.total_goods_list.Count / 2; i < Model.total_goods_list.Count; ++i)
                        {
                            <div class="item">
                                <div class="product-item" style="padding-top:5px;">
                                    <div class="product-absolute-options" style="margin-bottom:5px;padding-left:325px;padding-top:10px;">
                                    </div>

                                    <a href="@Url.Content("~/BuyGoods/?goods_id="+Model.total_goods_list[i].goods_id.ToString())" class="product-img">
                                        <div class="zoomImage11" style="background-image:url(@Model.total_goods_list[i].goods_img_path)"></div>
                                    </a>
                                    @using (Ajax.BeginForm("AddWish", "WishList", new AjaxOptions { HttpMethod = "Post" }))
                                    {
                                        @Html.TextBoxFor(now => now.wish_goods_id, new { @type = "hidden", Value = Model.total_goods_list[i].goods_id })
                                        if (Session["has_login"] == null)
                                        {
                                            <span class="log_err">
                                                <button type="reset" class="uil-heart has_not_liked" style="opacity:1;font-size:28px;border:none;background-color:white;margin-top:20px;"></button>
                                            </span>
                                        }
                                        if (Session["has_login"] != null)
                                        {
                                            <span class="add_wish">
                                                <button type="submit" class="uil-heart has_not_liked" style="opacity:1;font-size:28px;border:none;background-color:white;margin-top:20px;"></button>
                                            </span>
                                        }
                                    }
                                    <div class="product-text-dt">
                                        @using (Ajax.BeginForm("AddCart", "PurchaseCar", new AjaxOptions { HttpMethod = "Post" }))
                                        {
                                            <h4>@Model.total_goods_list[i].goods_name</h4>
                                            <input type="hidden" value=@Model.total_goods_list[i].goods_id name="goods_id_to_cart" />
                                            <div class="product-price">￥@Model.total_goods_list[i].unit_price</div>
                                            <div style="margin:10px 0;">
                                                <div style="font-weight:bold;font-size:13px;padding-right:30px;display:inline-block;">
                                                    <span style="color:#f55d2c">销量:</span>
                                                    <span style="color:#f55d2c">@Model.total_goods_list[i].sell_volume</span>
                                                </div>
                                                <div style="font-weight:bold;font-size:13px;padding-left:30px;display:inline-block;">
                                                    <span style="color:#00C9FF">库存:</span>
                                                    <span style="color:#00C9FF">@Model.total_goods_list[i].sell_stock</span>
                                                </div>
                                            </div>
                                            <div class="qty-cart">
                                                <div class="quantity buttons_added">
                                                    <input type="button" value="-" class="minus minus-btn">
                                                    @Html.TextBoxFor(now => now.pcar_goods_num, new { @class = "input-text qty text", @step = "1", @name = "quantity", @placeholder = "0" })
                                                    <input type="button" value="+" class="plus plus-btn">
                                                </div>
                                                @if (Session["has_login"] == null)
                                                {
                                                    <span class="cart-icon log_err">
                                                        <button type="reset" style="border:none;background-color:white"><i class="uil uil-shopping-cart-alt "></i></button>
                                                    </span>
                                                }
                                                @if (Model.total_goods_list[i].sell_stock <= 0)
                                                {
                                                    <span class="cart-icon no_stock">
                                                        <button type="reset" style="border:none;background-color:white"><i class="uil uil-shopping-cart-alt "></i></button>
                                                    </span>
                                                }
                                                @if (Session["has_login"] != null && Model.total_goods_list[i].sell_stock > 0)
                                                {
                                                    <span class="cart-icon add_cart">
                                                        <button type="submit" style="border:none;background-color:white"><i class="uil uil-shopping-cart-alt "></i></button>
                                                    </span>
                                                }
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured Products End -->
*@
