
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发生错误了！</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/css/css")
    @Styles.Render("~/Content/vender/css")

    @Scripts.Render("~/Content/js/js")
    @Scripts.Render("~/Content/vender/js")

    <link rel="icon" type="image/png" href="~/content/fav.png">
</head>

<body>
    <div class="wrapper" style="height:100%;padding:0;">
        <div class="cart-item dashboard-group" style="background-color:white;padding:0;height:100%;">
            <div class="cart-text">
                <h1 style="height:300px;text-align:center;padding-top:300px;">网页跑丢了哦~</h1>
                <div style="text-align:center;">
                    <a href="@Url.Content("~/Home")" class="add-address hover-btn" style="border:none;color:white;font-size:20px;margin-top:10%">返回主页</a>
                </div>
                <div class="copyright-text text-center mt-3">
                    <i class="uil uil-copyright"></i>Copyright 2020 <b>MJX</b> . All rights <a href="" title="">researved</a>
                </div>
            </div>

        </div>
    </div>


    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

</body>

</html>

