@using ShopWeb.Models
@model SellerInfoViewModel
@{
    ViewBag.Title = "我的店铺";
}

<div class="dashboard-group">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="user-dt">
                    <div class="user-img">
                        @{
                            var str = (Convert.ToInt64(Session["mem_phone"]) % 6).ToString();
                            str = "/content/image/avatar/img-" + str + ".jpg";
                        }
                        <img src=@str alt="头像">
                    </div>
                    <h4>@Session["mem_name"].ToString()</h4>
                    <p>@Session["mem_phone"].ToString()<i class="uil uil-shop"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="left-side-tabs">
                    <div class="dashboard-left-links">
                        <a href="@Url.Content("~/SellInfo")" class="user-item active"><i class="uil uil-box"></i>卖家信息</a>
                        <a href="@Url.Content("~/SellInfo/SellList")" class="user-item"><i class="uil uil-shopping-cart-alt"></i>售出记录</a>
                        <a href="@Url.Content("~/SellInfo/Modify")" class="user-item"><i class="uil uil-user"></i>修改信息</a>
                        <a href="@Url.Content("~/Login/LoginOut")" class="user-item"><i class="uil uil-exit"></i>注销</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="dashboard-right">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-title-tab">
                                <h4><i class="uil uil-wallet"></i>我的店铺信息</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="pdpt-bg">
                                <div class="reward-body-dtt">
                                        <img src="/content/image/Money.svg" alt="" width="150" height="150">
                                    <span class="rewrd-title">总收入</span>
                                    <h4 class="cashbk-price">￥ @Model.all_income</h4>
                                    <span class="date-reward">截止 @DateTime.Now</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="pdpt-bg">
                                <div class="gambo-body-cash">
                                        <img src="/content/image/MoneyGrowth.svg" alt="" width="150" height="150">
                                    <span class="rewrd-title">本月收入</span>
                                    <h4 class="cashbk-price">￥ @Model.now_month_income</h4>
                                    <span class="date-reward">@DateTime.Now.Year 年 @DateTime.Now.Month 月</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="pdpt-bg">
                                <div class="pdpt-title">
                                    <h4>最新10条售出记录</h4>
                                </div>
                                <div class="history-body scrollstyle_4" style="height:500px;">
                                    <ul class="history-list">
                                        @for (var i = 0; i < Model.sell_list.Count && i < 10; ++i)
                                        {
                                            <li>
                                                <div class="purchase-history">
                                                    <div class="purchase-history-left">
                                                        <h3>订单号:@Model.sell_list[i].plist_id</h3>
                                                        <h4>@Model.sell_list[i].goods_name × @Model.sell_list[i].goods_num</h4>
                                                        <p>买家:&nbsp;<ins>@Model.sell_list[i].mem_name</ins></p>
                                                        <span>@Model.sell_list[i].date</span>
                                                    </div>
                                                    <div class="purchase-history-right">
                                                        <span>+ ￥@Model.sell_list[i].total_price</span>
                                                        <a href="/SellGoods/Index/@Model.sell_list[i].goods_id.ToString()">>>></a>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>