@using PagedList.Mvc;
@using ShopWeb.Models
@model PagedList.PagedList<MemberPurchaseListViewModel>
@{
    ViewBag.Title = "售出记录";
}

<style>
</style>

<div class="dashboard-group">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="user-dt">
                    <div class="user-img">
                        @{
                            var str = (Convert.ToInt64(Session["mem_phone"]) % 6).ToString();
                            str = "/content/image/avatar/img-" + str + ".jpg";
                        }
                        <img src=@str alt="头像">
                    </div>
                    <h4>@Session["mem_name"]<a href="/SellInfo/Modify"><i class="uil uil-edit" style="color:#00C9FF;"></i></a></h4>
                    <p>@Session["mem_phone"]<i class="uil uil-shop" style="color: #00C9FF;"></i></p>
                    <p>收款账号: @Session["seller_account"]</p>
                    <p>发货地址: @Session["seller_address"]</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="left-side-tabs">
                    <div class="dashboard-left-links">
                        <a href="@Url.Content("~/SellInfo")" class="user-item"><i class="uil uil-user-exclamation"></i>卖家信息</a>
                        <a href="@Url.Content("~/SellInfo/SellList")" class="user-item active"><i class="uil uil-money-bill"></i>售出记录</a>
                        <a href="@Url.Content("~/SellInfo/Modify")" class="user-item"><i class="uil uil-edit-alt"></i>修改信息</a>
                        <a href="@Url.Content("~/Login/LoginOut")" class="user-item"><i class="uil uil-exit"></i>注销</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="dashboard-right">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-title-tab">
                                <h4><i class="uil uil-wallet"></i>售出记录</h4>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="pdpt-bg">
                                <div class="active-offers-body">
                                    <div class="table-responsive">
                                        <table class="table ucp-table earning__table" style="margin-bottom:40px;">
                                            <thead class="thead-s">
                                                <tr style="font-size:16px;">
                                                    <th scope="col">订单号</th>
                                                    <th scope="col">售出用户</th>
                                                    <th scope="col">售出单价</th>
                                                    <th scope="col">售出数量</th>
                                                    <th scope="col">售出总价</th>
                                                    <th scope="col">售出时间</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var now in Model)
                                                {
                                                    <tr>
                                                        <td>@now.plist_id</td>
                                                        <td>@now.mem_name</td>
                                                        <td>￥@now.unit_price</td>
                                                        <td>×@now.goods_num</td>
                                                        <td>￥@now.total_price</td>
                                                        <td>@now.date</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="col-md-12 col-lg-12 text-center">
                                            @*<h5 style="color:#00C9FF">每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页</h5>*@
                                            @Html.PagedListPager(Model, page => Url.Action("SellList", "SellInfo", new { page }), new PagedListRenderOptions()
                                       {
                                           LinkToFirstPageFormat = "首页",
                                           LinkToPreviousPageFormat = "上一页",
                                           LinkToNextPageFormat = "下一页",
                                           LinkToLastPageFormat = "末页",
                                           DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                           DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                           DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                           MaximumPageNumbersToDisplay = 4
                                       })

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*
    <script>
        $(function () {
            //初始化Table
            var oTable = new TableInit();
            oTable.Init();
        });
        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#mytable').bootstrapTable({
                    url: '/SellInfo/GetList',//请求后台的URL（*）
                    method: 'get',//请求方式（*）
                    datatype:'json',
                    toolbar: '#toolbar',//工具按钮用哪个容器
                    striped: false,//是否显示行间隔色
                    cache: false,//是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,//是否显示分页（*）
                    sortable: false,//是否启用排序
                    sortOrder: "asc",//排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "client",//分页方式：client客户端分页，server服务端分页（*）
                    pageNumber: 1,//初始化加载第一页，默认第一页
                    pageSize: 10,//每页的记录行数（*）
                    pageList: [10, 25, 50, 100],//可供选择的每页的行数（*）
                    search: true,//是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    contentType: "application/x-www-form-urlencoded",
                    strictSearch: true,
                    showColumns: true,//是否显示所有的列
                    showRefresh: true,//是否显示刷新按钮
                    minimumCountColumns: 2,//最少允许的列数
                    clickToSelect: false,//是否启用点击选中行
                    height: 700,//行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "id",//每一行的唯一标识，一般为主键列
                    showToggle: true,//是否显示详细视图和列表视图的切换按钮
                    cardView: false,//是否显示详细视图
                    detailView: false,//是否显示父子表
                    columns: [
                        {
                            field: 'plist_id',
                            title: '订单号'
                        }, {
                            field: 'goods_name',
                            title: '商品名称'
                        }, {
                            field: 'goods_num',
                            title: '数量'
                        },
                        {
                            field: 'unit_price',
                            title: '单价'
                        },
                        {
                            field: 'total_price',
                            title: '总价'
                        },
                        {
                            field: 'date',
                            title: '售出时间'
                        },
                    ],
                    rowStyle: function (row, index) {
                        var classesArr = ['white', 'lightblue'];
                        var strclass = "";
                        if (index % 2 === 0) {//偶数行
                            strclass = classesArr[0];
                        } else {//奇数行
                            strclass = classesArr[1];
                        }
                        return { classes: strclass };
                    },//隔行变色
                });
            };
            //得到查询的参数
            oTableInit.queryParams = function (params) {
                var temp = {//这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,//页面大小
                    //pageNumber: params.pageNumber,//页码
                    offset: params.offset
                };
                return temp;
            };
            return oTableInit;
        };

    </script>
*@
